# 주석표시는 기본값
# 주석안한건 반대가 기본값

[defaults]
inventory = ./inventory
remote_user = ansible
#ask_pass = false

[privilege_escalation]
become = true
#become_user = root
#become_method = sudo
#become_ask_pass = false